<nav class="navbar">
    <div class="container">

        <ul class="navbar-nav">
        <a class="navbar-brand" href="/">Home</a>
        
                <li class="nav-item">
                    <a class="nav-link" href="/animal">Animal List</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/animal/new">Entry Form</a>
                </li>
            </ul>
        </div>
    </div>
</nav>